In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import os
import numpy as np

### 1. Wczytuje dane

In [15]:
caly_df=pd.read_csv('D:/STUDIA/ROK_II/Projekt/Dane_jalowka_i_krowa.csv') 
caly_df.shape

(2000, 35)

In [16]:
list(caly_df)

['Pozycja',
 'ID',
 'Nazwa ojca',
 'ID ojca',
 'Obora',
 'Hodowca',
 'Województwo',
 'Data urodzenia',
 'IE',
 'Dokł. IE',
 'PF',
 'PI-PROD',
 'PI-POKR',
 'Prc',
 'Psm',
 'Pnr',
 'Pw',
 'PI-PLOD',
 'CRj',
 'CRk',
 'PP',
 'OMC',
 'WH-KSOM',
 'WH-DLUG',
 'IP',
 'kg ml',
 'kg tł',
 '% tł',
 'kg bi',
 '% bi',
 'rc',
 'sm',
 'nr',
 'w',
 'og']

In [17]:
caly_df.head()

,Pozycja,ID,Nazwa ojca,ID ojca,Obora,Hodowca,Województwo,Data urodzenia,IE,Dokł. IE,...,kg ml,kg tł,% tł,kg bi,% bi,rc,sm,nr,w,og
0,1,PL005435512906,EXPANSION,CA12857929,514481.0,PIETRUSZYŃSKI ADAM,PODLASKIE,2020,3165,66,...,1477,598,-1,439,-4,106.0,106.0,105.0,118.0,112.0
1,2,PL005435514047,EXPANSION,CA12857929,514481.0,PIETRUSZYŃSKI ADAM,PODLASKIE,2020,3010,66,...,1360,567,1,414,-3,104.0,103.0,103.0,116.0,110.0
2,3,PL005433807509,GARETT,DE1504336100,902181.0,HZINR POLANOWICE SP. Z O.O.,KUJAWSKO-POMORSKIE,2021,2981,65,...,1083,358,-10,458,12,105.0,106.0,125.0,132.0,123.0
3,4,PL005432792516,PREDATOR,DE0540259057,2101481.0,OHZ LUBIANA SP. Z O.O.,ZACHODNIOPOMORSKIE,2020,2941,65,...,885,494,16,379,11,112.0,110.0,116.0,129.0,125.0
4,5,PL005456057172,EXPANSION,CA12857929,5300761.0,KR KIETRZ SP. Z O.O.,OPOLSKIE,2020,2939,66,...,1294,477,-6,502,9,106.0,103.0,112.0,122.0,113.0

### 2. Klasyfikuje wpisy na jałówki i krowy

In [18]:
caly_df.loc[caly_df['Pozycja'] >= 500, 'kategoria'] = 'krowa'
caly_df.loc[caly_df['Pozycja'] < 500, 'kategoria'] = 'jalowka'

### 3. Sprawdzam czy są brakujące dane

In [19]:
caly_df.isnull().sum()

Pozycja            0
ID                 0
Nazwa ojca         0
ID ojca            0
Obora             72
Hodowca           72
Województwo       72
Data urodzenia     0
IE                 0
Dokł. IE           0
PF                 0
PI-PROD            0
PI-POKR            0
Prc                0
Psm                0
Pnr                0
Pw                 0
PI-PLOD            0
CRj                0
CRk                0
PP                 0
OMC                0
WH-KSOM            0
WH-DLUG            0
IP                 0
kg ml              0
kg tł              0
% tł               0
kg bi              0
% bi               0
rc                47
sm                47
nr                47
w                 47
og                47
kategoria          0
dtype: int64

In [20]:
caly_df=caly_df.dropna()

In [21]:
caly_df.shape

(1881, 36)

Usuwam 119 wpisów z pustymi zmiennymi

In [22]:
caly_df['Województwo'].value_counts()

WIELKOPOLSKIE          579
KUJAWSKO-POMORSKIE     298
OPOLSKIE               227
ZACHODNIOPOMORSKIE     212
PODLASKIE              175
MAZOWIECKIE            106
POMORSKIE               94
LUBUSKIE                47
ŁÓDZKIE                 41
DOLNOŚLĄSKIE            32
WARMIŃSKO-MAZURSKIE     23
ŚLĄSKIE                 17
ŚWIĘTOKRZYSKIE          13
MAŁOPOLSKIE             12
LUBELSKIE                4
PODKARPACKIE             1
Name: Województwo, dtype: int64

### 4. Usuwam nie informatywne zmienne

In [23]:
del caly_df['Pozycja']
del caly_df['ID']
del caly_df['Nazwa ojca']
del caly_df['ID ojca']
del caly_df['Obora']
del caly_df['Hodowca']

### 5. Rozdzielam na podzbiory

In [24]:
train_df, test_df = train_test_split(caly_df, test_size=0.2, random_state=42,stratify=caly_df['kategoria'])
test_df, val_df = train_test_split(test_df, test_size=0.5, random_state=42,stratify=test_df['kategoria'])

In [25]:
train_df.to_csv('D:/STUDIA/ROK_II/Projekt/Dane_jalowka_i_krowa_train.csv', encoding="utf-8")
test_df.to_csv('D:/STUDIA/ROK_II/Projekt/Dane_jalowka_i_krowa_test.csv', encoding="utf-8")
val_df.to_csv('D:/STUDIA/ROK_II/Projekt/Dane_jalowka_i_krowa_val.csv', encoding="utf-8")